.mat-card {
  max-width: 940px;
}

.image-card {
  cursor: pointer;

  min-width: 200px;
  height: 200px;
  background-color: #f7f7f7;

  margin-right: 12px;

  .mat-icon {
    font-size: 42px;
    width: 42px;
    height: 42px;

    margin-bottom: 24px;
    padding-left: 6px;
  }
}

button {
  position: absolute;
  right: 15px;
  bottom: 15px;

  width: 162px;
  height: 37px;
}

.mat-select-panel {
  margin-top: 51px;
}
