.mat-card {
max-width: 940px;
}

.image-card {
  min-width: 200px;
  height: 200px;
  background-color: #f7f7f7;

  margin-right: 12px;

  .mat-icon {
    font-size: 42px;
    width: 42px;
    height: 42px;

    margin-bottom: 24px;
  }
}
