
@import '~@angular/material/theming';
@import './theme-pallet';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shopi-admin-primary: mat-palette($custom-green-theme);
$shopi-admin-accent: mat-palette($custom-blue-theme); // A200, A100, A400

// The warn palette is optional (defaults to red).
$shopi-admin-warn: mat-palette($custom-red-theme);

// Create the theme object (a Sass map containing all of the palettes).
$shopi-admin-theme: mat-light-theme($shopi-admin-primary, $shopi-admin-accent, $shopi-admin-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shopi-admin-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
