.card-wrapper {
  min-width: 400px;
}

.mat-card {
  width: 180px;
  height: 180px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  color: #7e7e7e;
  cursor: pointer;

  transition: all 0.2s;

  &.large {
    width: 100%;
  }

  p {
    font-size: 18px;
  }

  .mat-icon {
    width: 35px;
    font-size: 35px;
  }

  &:hover {
    background-color: darken($color: #fff, $amount: 8);
  }
}
