<div
  class="container-fluid h-100 d-flex justify-content-center align-items-center"
>
  <div class="card-wrapper d-flex flex-column puff-in">
    <div class="d-flex justify-content-between mb-5">
      <mat-card (click)="addProducts()">
        <mat-icon>add_circle</mat-icon>
        <p>Adicionar produto</p>
      </mat-card>
      <mat-card (click)="editProducts()">
        <mat-icon>edit</mat-icon>
        <p>Editar produto</p>
      </mat-card>
    </div>
    <div class="d-flex justify-content-between">
      <mat-card (click)="deleteProducts()">
        <mat-icon>close</mat-icon>
        <p>Excluir produto</p>
      </mat-card>
      <mat-card>
        <mat-icon>assignment</mat-icon>
        <p>Meus pedidos</p>
      </mat-card>
    </div>
  </div>
</div>
