.top-nav {
  max-height: 75px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #46ab99;

  .app-title {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;

    color: #fff;
    font-size: 29px;
    letter-spacing: 7px;

    margin-top: 9px;
  }
}

.logo {
  height: 48px;
  width: 48px;
}
